.html,
body {
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.bio {
  font-size: 6rem;
}

#like {
  color: gray;
  cursor: pointer;
  user-select: none;
}

#like.liked {
  color: red;
}
